/Ozon.ProductService.DataAccess/obj/
/Ozon.ProductService.DataAccess/bin/
/Ozon.ProductService.Domain/bin/
/Ozon.ProductService.Domain/obj/
/Ozon.ProductService.Api/obj/
/Ozon.ProductService.Api/bin/
/Ozon.ProductService.Service/bin/
/Ozon.ProductService.Service/obj/
/.idea
/Ozon.ProductService.sln.DotSettings
/Ozon.ProductService.sln.DotSettings.Corrupted.2024-03-14T16-35-43.Backup.Tmp
/Ozon.ProductService.sln.DotSettings.Corrupted.2024-03-14T16-35-43.Description.Tmp
/Ozon.ProductService.UniteTest/bin/
/Ozon.ProductService.UniteTest/obj/
/Ozon.ProductService.IntegrationTest/bin/
/Ozon.ProductService.IntegrationTest/obj/